@charset 'utf-8';

.ctaAdvanced {
  &:hover {
    background: red;
  }
  &:focus {
    background: green;
  }
  &:active {
    background: blue;
  }
  @include cssAnyHoverNone {
    &:hover, &:focus, &:active {
      background: $colorCyan;
    }
    &.hover {
      background: red;
    }
    &.focus {
      background: green;
    }
    &.active {
      background: blue;
    }
  }
  @include tablet {
    font-size: 1.6rem;
    padding: 0.5em 0.8em 0.4em 0.8em;
  }
}
