@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';
@import '_deviceEventConfirmation';



// ELEMENT LEVEL ----------------------------------------------------------------------------------




// CLASS LEVEL ------------------------------------------------------------------------------------
.deviceEventWrapper {
  width: 100%;
  @include tablet {
    // flex-direction: initial;
  }
  @include desktop {
    // flex-direction: initial;
  }
}
.locationIndicator {
  width: 44px;
  height: 44px;
  background: rgba(255, 0, 0, 0.4);
  border-radius: 22px;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.mainWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  position: fixed; // This keeps the screen still on mobile
  width: 100vw;
  @include tablet {
    // flex-direction: initial;
  }
  @include desktop {
    // flex-direction: initial;
  }
}
.anchorCTAWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  h4 {
    margin: 0 0 1em 0;
  }
}
.anchorCTA {
  background-image: none; // Firefox Negate
  background: transparent;
  border-radius: 3px;
  border: 2px solid rgba(126,126,126,0.3);
  font-family: "Google Sans","Roboto","Arial",sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5em 0.8em 0.4em 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 180ms ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent; // Safari & Chrome Negate
  &:focus {
    background: #423F3F;
  }
  &:active {
    transform: translateY(4px);
    background: #423F3F;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  @include hoverAbsent {
    transition: all 60ms ease-in-out;
  }
  @include hoverPresent {
    &:hover {
      background: #423F3F;
      border: 2px solid #423F3F;
      color: #FFFFFF;
    }
  }
  @include tablet {
    font-size: 1.6rem;
  }
}
