@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';
@import '_deviceEventConfirmation';
@import '_standardCTA';



// ELEMENT LEVEL ----------------------------------------------------------------------------------




// CLASS LEVEL ------------------------------------------------------------------------------------
.mainWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  position: fixed; // This keeps the screen still on mobile
  width: 100vw;
  @include tablet {
    // flex-direction: initial;
  }
  @include desktop {
    // flex-direction: initial;
  }
}
.feedback {
  list-style-position: inside;
  padding: 0 0 0 0.25em;
  margin: 0;
  & li {
    margin: 0 0 0.25em 0;
    font-size: 1.4rem;
    letter-spacing: 0.02em;
  }
}